<% if signed_in? %>
	<h1>List of articles </h1>
	<div class="row">
		<div class="articles-list span8 offset2">
			<div class="control-ribbon">
				<div class="ribbon-element">	<%= link_to "Write new article", new_article_path, class: "btn btn-small btn-primary"%></div>
				<div class="ribbon-element"><%= link_to "Labels", labels_path, class: "btn btn-small btn-primary"%></div>
				<div class="ribbon-element">
					<%= form_tag search_path do %>
						<%= text_field_tag :q, params[:q] %>
						<%= submit_tag "Search", class: "btn btn-small btn-success" %>
	    			<% end %>
	    		</div>
	    	</div>
	    	</div>
	    	</div>
	    	<div class="row">
				<div class="articles-list span8 offset2">
	    			<div class="article-list-home">
				<h3>Articles (<%= @articles.count %>)</h3>
			    <ol>
			        <%= render @articles%>
			    </ol>
			    <%= will_paginate @articles %>
			</div>
		</div>
	</div>
<% else %>
<div class ="row">
	<div class="span6 offset3">
		<h2>Store your Knowldege articles online.</h2>
		<div class="span6 welcome-box">
			<div class="inner-box"><h2><%= link_to "Sign in", signin_path, class: "btn btn-primary btn-large" %></h2></div>
			<div class="inner-box"><h2><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-large"  %></h2></div>
		</div>
	</div>
</div>
<% end %>